<h2 class="center">Check our all our users!</h2>
<br />
<br />
<br />
  <div class="row">
    <!-- <a id='show-profile' class="waves-effect waves-light btn-large"><i class="material-icons right">cloud</i>put in show profile link</a> -->
    <p id="show-prof"><%= link_to 'Show profile', users_profile_path(current_user) %></p>
    <hr />
  </div>
</div>
  <div class ="container">
    <div class ="row">
      <% @users.each do |user| %>
        <div class='col s12 m4'>
          <div class="card small blue lighten-3">
            <div class="card-content white-text">
              <span class="card-title red-text"> <%= user.first_name %>'s Info:</span>
              <p> First Name: <%= user.first_name %></p>
              <p> Last Name: <%= user.last_name %></p>
              <p> Description: <%= user.description %></p>
              <p> Gender: <%= user.gender %></p>
              <div class='card-action'>
                <p id="show-user" class='btn tooltipped' data-position='right' data-delay='50' data-tooltip='Click to interact with <%= user.first_name%>'><%= link_to 'User\'s profile', user_path(user) %></p>
            </div>
            </div>
          </div>
       </div>
      <% end %>
    </div>
  </div>
