<%= form_for [@user, @interest] do |f| %>
  <%= f.hidden_field :user_id %>

  <%= f.label :profession %>
  <%= f.text_field :profession %><br>

  <%= f.label :hobbies %>
  <%= f.text_field :hobbies %><br>

  <%= f.label :kids %>
  <%= f.text_field :kids %><br>
  <p>Like to Party: </p>
  <%= f.radio_button :party, true %>
  <%= f.label :party, "Yes", :value => "true" %> 

  <%= f.radio_button :party, false %>
  <%= f.label :party, "No", :value => "false" %>
  <br>
  <hr />

  <%= f.submit %>
<% end %>

