<p>If you arrived at this page we didn't do something right.</p>
<!-- <div class="row">
  <div class="col s10 offset-s1">
    <div class="card medium blue lighten-3">
      <div class="card-content white-text">
        <span class="card-title red-text"><%= current_user.first_name %> Interests:</span>
        <p class=interests>
          Profession:  <%= @interest.profession %>
          Hobbies:  <%= @interest.hobbies %>
          Kids:  <%= @interest.kids %>
      </div>
      <div class="card-action">
        <p class='btn interests-links'><ECHO= link_to 'Edit your profile interests', edit_user_interest_path(current_user, @interest) %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class='col s10 offset-s1'>
      <div class="card medium blue lighten-3">
        <div class="card-content white-text">
            <span class='card-title red-text'><ECHO= current_user.first_name %> Interests: </span>
  <NONECHO @interests.each do |interest| %>

            <p class="interests">Profession:  <%= interest.profession %></p>
            <p class="interests">Hobbies:  <%= interest.hobbies %></p>
            <p class="interests">Kids:  <%= interest.kids %></p>
            <div class= "card-action">
              <p class='btn interests-links'><ECHO= link_to 'Edit your profile interests', edit_user_interest_path(current_user, interest) %></p>
  <NONECHO end %>
            </div>
        </div>
      </div>
    </div>
</div>

<div class='row'>
  <p class='btn interests-links'><ECHO= link_to 'Enter your profile interests', new_user_interest_path(current_user) %></p>
</div> -->
