
  <div class="row">
    <% @interests.each do |interest| %>
      <div class='col s12 m4'>
        <div class="card blue lighten-3">
          <div class="card-content white-text">
              <span class='card-title red-text'><%= current_user.first_name %> Interests: </span>
              <p class="interests">Profession:  <%= interest.profession %></p>
              <p class="interests">Hobbies:  <%= interest.hobbies %></p>
              <p class="interests">Kids:  <%= interest.kids %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class='row'>
    <p class='btn interests-links'><%= link_to 'Enter your profile interests', new_user_interest_path(current_user) %></p>
    <p class='btn interests-links'><%= link_to 'Edit your profile interests', edit_user_interest_path(current_user, @interests) %></p>
  </div>
